<a href="https://colab.research.google.com/github/CGitau02/Celina-Data_Set/blob/main/Sales_Data_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files = files.upload ()

Saving sales_data_200.csv to sales_data_200.csv

In [ ]:
import pandas as pd
sales = pd.read_csv ('sales_data_200.csv')

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
rows, columns = sales.shape
print(f"Rows: {rows}, Columns: {columns}")

Rows: 40, Columns: 9

In [ ]:
rows, columns = sales.shape
print(f"Rows: {rows}, Columns: {columns}")

Rows: 40, Columns: 9

In [ ]:
sales = pd.DataFrame (sales)
columns_count = sales.count ()
print (columns_count)
rows_count = sales.count (axis = 1)
print (rows_count)

In [ ]:
sales.tail (10)

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
import pandas as pd
# The 'sales' variable was previously overwritten as a list.
# Re-reading the CSV file to ensure 'sales' is a pandas DataFrame.
sales = pd.read_csv('sales_data_200.csv')
# Now attempt to rename columns with the correct number of names.
sales.columns = ['orderID', 'date', 'customer_name', 'product', 'category', 'quantity', 'unit_price', 'total_price', 'region']

In [ ]:
import pandas as pd

# Re-reading the CSV file to ensure 'sales' is a pandas DataFrame
sales = pd.read_csv('sales_data_200.csv')

# Applying the correct column names as previously established in cell 0hokWvHWswuw
sales.columns = ['orderID', 'date', 'customer_name', 'product', 'category', 'quantity', 'unit_price', 'total_price', 'region']

# Selecting the desired columns
sales = sales[['orderID', 'customer_name', 'category', 'total_price']]

In [ ]:
sales

    orderID      customer_name category  total_price
0      1001       Emma Johnson  Widgets         60.0
1      1002         Liam Smith  Gadgets         70.0
2      1003       Olivia Brown  Widgets          NaN
3      1004         Noah Jones  Gadgets        250.0
4      1005         Ava Garcia  Widgets        100.0
5      1006  Isabella Martinez  Gadgets        120.0
6      1007        Lucas Davis  Widgets         60.0
7      1008   Sophia Rodriguez  Gadgets        210.0
8      1009       Mason Wilson  Widgets         60.0
9      1010       Mia Anderson  Gadgets        100.0
10     1011       Ethan Thomas  Widgets        200.0
11     1012      Harper Taylor  Gadgets         40.0
12     1013        Logan Moore  Widgets         60.0
13     1014  Charlotte Jackson  Gadgets        105.0
14     1015       Elijah White  Widgets         40.0
15     1016      Amelia Harris  Gadgets          NaN
16     1017       James Martin  Widgets        100.0
17     1018    Evelyn Thompson  Gadgets        140.0
18     1019    Benjamin Garcia  Widgets        175.0
19     1020   Abigail Martinez  Gadgets        120.0
20     1021   Eliana Rodriguez  Widgets         60.0
21     1022      Alexander Lee  Gadgets        210.0
22     1023       Emma Johnson  Widgets         60.0
23     1024         Liam Smith  Gadgets          NaN
24     1025       Olivia Brown  Widgets        100.0
25     1026         Noah Jones  Gadgets        250.0
26     1027         Ava Garcia  Widgets         60.0
27     1028  Isabella Martinez  Gadgets        120.0
28     1029        Lucas Davis  Widgets         20.0
29     1030   Sophia Rodriguez  Gadgets        210.0
30     1031       Mason Wilson  Widgets        125.0
31     1032       Mia Anderson  Gadgets        150.0
32     1033       Ethan Thomas  Widgets        120.0
33     1034      Harper Taylor  Gadgets         80.0
34     1035        Logan Moore  Widgets          NaN
35     1036  Charlotte Jackson  Gadgets         35.0
36     1037       Elijah White  Widgets         60.0
37     1038      Amelia Harris  Gadgets        250.0
38     1039       James Martin  Widgets         60.0
39     1040    Evelyn Thompson  Gadgets        120.0

In [ ]:
import pandas as pd
sales = pd.read_csv('sales_data_200.csv')

sales.columns = ['orderID', 'date', 'customer_name', 'product', 'category', 'quantity', 'unit_price', 'total_price', 'region']

sales = sales[['orderID', 'customer_name', 'category', 'total_price']]

In [ ]:
sales

    orderID      customer_name category  total_price
0      1001       Emma Johnson  Widgets         60.0
1      1002         Liam Smith  Gadgets         70.0
2      1003       Olivia Brown  Widgets          NaN
3      1004         Noah Jones  Gadgets        250.0
4      1005         Ava Garcia  Widgets        100.0
5      1006  Isabella Martinez  Gadgets        120.0
6      1007        Lucas Davis  Widgets         60.0
7      1008   Sophia Rodriguez  Gadgets        210.0
8      1009       Mason Wilson  Widgets         60.0
9      1010       Mia Anderson  Gadgets        100.0
10     1011       Ethan Thomas  Widgets        200.0
11     1012      Harper Taylor  Gadgets         40.0
12     1013        Logan Moore  Widgets         60.0
13     1014  Charlotte Jackson  Gadgets        105.0
14     1015       Elijah White  Widgets         40.0
15     1016      Amelia Harris  Gadgets          NaN
16     1017       James Martin  Widgets        100.0
17     1018    Evelyn Thompson  Gadgets        140.0
18     1019    Benjamin Garcia  Widgets        175.0
19     1020   Abigail Martinez  Gadgets        120.0
20     1021   Eliana Rodriguez  Widgets         60.0
21     1022      Alexander Lee  Gadgets        210.0
22     1023       Emma Johnson  Widgets         60.0
23     1024         Liam Smith  Gadgets          NaN
24     1025       Olivia Brown  Widgets        100.0
25     1026         Noah Jones  Gadgets        250.0
26     1027         Ava Garcia  Widgets         60.0
27     1028  Isabella Martinez  Gadgets        120.0
28     1029        Lucas Davis  Widgets         20.0
29     1030   Sophia Rodriguez  Gadgets        210.0
30     1031       Mason Wilson  Widgets        125.0
31     1032       Mia Anderson  Gadgets        150.0
32     1033       Ethan Thomas  Widgets        120.0
33     1034      Harper Taylor  Gadgets         80.0
34     1035        Logan Moore  Widgets          NaN
35     1036  Charlotte Jackson  Gadgets         35.0
36     1037       Elijah White  Widgets         60.0
37     1038      Amelia Harris  Gadgets        250.0
38     1039       James Martin  Widgets         60.0
39     1040    Evelyn Thompson  Gadgets        120.0

In [ ]:
# The 'sales' DataFrame currently has 4 columns. If you intend to rename all 9 original columns,
# you need to re-read the CSV or ensure the DataFrame has 9 columns first.
# If you only want to rename the existing 4 columns, provide only 4 names.
# For now, assuming the intent is to work with the 9-column DataFrame and re-apply all names:
import pandas as pd
sales = pd.read_csv('sales_data_200.csv')
sales.columns = ['orderID', 'date', 'customer_name', 'product', 'category', 'quantity', 'unit_price', 'total_price', 'region']

In [ ]:
sales

,orderID,date,customer_name,product,category,quantity,unit_price,total_price,region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
from google.colab import files
files =  files.upload()

Saving sales_data_200.csv to sales_data_200.csv

In [ ]:
import pandas as pd
sales = pd.read_csv ('sales_data_200.csv')

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
north_region_sales = sales[sales['Region'] == 'North']

In [ ]:
north_region_sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
quantity_orders = sales [sales ['Quantity'] >= 5]

In [ ]:
quantity_orders

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
quantity_orders = sales[sales['Product'].isin(['Widget A', 'Gadget B'])]

In [ ]:
quantity_orders

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.isnull ()

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,True,False,True,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,True,False,True,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,True,False,True,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False

In [ ]:
sales.isnull ().values

array([[False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False,  True, False,  True, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False,  True, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False,  True, False,  True, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False,  True, False,  True, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False,  True, False,  True, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False]])

In [ ]:
import pandas as pd
sales = pd.read_csv ('sales_data_200.csv')
sales.dropna(inplace=True) # Corrected line to drop rows with NaN values
print (sales.to_string ())

    OrderID        Date       CustomerName   Product Category  Quantity  UnitPrice  TotalPrice Region
0      1001  15/08/2025       Emma Johnson  Widget A  Widgets       3.0       20.0        60.0  North
1      1002  17/08/2025         Liam Smith  Gadget B  Gadgets       2.0       35.0        70.0  South
3      1004  20/08/2025         Noah Jones  Gadget C  Gadgets       5.0       50.0       250.0   West
4      1005  22/08/2025         Ava Garcia  Widget B  Widgets       4.0       25.0       100.0  North
6      1007  25/08/2025        Lucas Davis  Widget C  Widgets       2.0       30.0        60.0   East
7      1008  26/08/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0       35.0       210.0   West
8      1009  28/08/2025       Mason Wilson  Widget A  Widgets       3.0       20.0        60.0  North
9      1010  29/08/2025       Mia Anderson  Gadget C  Gadgets       2.0       50.0       100.0  South
10     1011  30/08/2025       Ethan Thomas  Widget B  Widgets       8.0       25.0       200.0   East
11     1012  01/09/2025      Harper Taylor  Gadget A  Gadgets       1.0       40.0        40.0   West
12     1013  02/09/2025        Logan Moore  Widget C  Widgets       2.0       30.0        60.0  North
13     1014  03/09/2025  Charlotte Jackson  Gadget B  Gadgets       3.0       35.0       105.0  South
14     1015  05/09/2025       Elijah White  Widget A  Widgets       2.0       20.0        40.0   East
16     1017  08/09/2025       James Martin  Widget A  Widgets       5.0       20.0       100.0  North
17     1018  09/09/2025    Evelyn Thompson  Gadget B  Gadgets       4.0       35.0       140.0  South
18     1019  11/09/2025    Benjamin Garcia  Widget B  Widgets       7.0       25.0       175.0   East
19     1020  12/09/2025   Abigail Martinez  Gadget A  Gadgets       3.0       40.0       120.0   West
20     1021  14/09/2025   Eliana Rodriguez  Widget C  Widgets       2.0       30.0        60.0  North
21     1022  15/09/2025      Alexander Lee  Gadget B  Gadgets       6.0       35.0       210.0  South
22     1023  16/09/2025       Emma Johnson  Widget A  Widgets       3.0       20.0        60.0  North
24     1025  19/09/2025       Olivia Brown  Widget B  Widgets       4.0       25.0       100.0   East
25     1026  21/09/2025         Noah Jones  Gadget C  Gadgets       5.0       50.0       250.0   West
26     1027  22/09/2025         Ava Garcia  Widget C  Widgets       2.0       30.0        60.0  North
27     1028  24/09/2025  Isabella Martinez  Gadget A  Gadgets       3.0       40.0       120.0  South
28     1029  25/09/2025        Lucas Davis  Widget A  Widgets       1.0       20.0        20.0   East
29     1030  27/09/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0       35.0       210.0   West
30     1031  28/09/2025       Mason Wilson  Widget B  Widgets       5.0       25.0       125.0  North
31     1032  30/09/2025       Mia Anderson  Gadget C  Gadgets       3.0       50.0       150.0  South
32     1033  01/10/2025       Ethan Thomas  Widget C  Widgets       4.0       30.0       120.0   East
33     1034  03/10/2025      Harper Taylor  Gadget A  Gadgets       2.0       40.0        80.0   West
35     1036  06/10/2025  Charlotte Jackson  Gadget B  Gadgets       1.0       35.0        35.0  South
36     1037  08/10/2025       Elijah White  Widget A  Widgets       3.0       20.0        60.0   East
37     1038  09/10/2025      Amelia Harris  Gadget C  Gadgets       5.0       50.0       250.0   West
38     1039  11/10/2025       James Martin  Widget C  Widgets       2.0       30.0        60.0  North
39     1040  12/10/2025    Evelyn Thompson  Gadget A  Gadgets       3.0       40.0       120.0  South

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:

sales.dropna(inplace=True) # Corrected line to drop rows with NaN values
print (sales.to_string ())

    OrderID       Date           customer   Product Category  Quantity  Price_Per_Unit  TotalPrice Region
0      1001 2025-08-15       Emma Johnson  Widget A  Widgets         3            20.0        60.0  North
1      1002 2025-08-17         Liam Smith  Gadget B  Gadgets         2            35.0        70.0  South
3      1004 2025-08-20         Noah Jones  Gadget C  Gadgets         5            50.0       250.0   West
4      1005 2025-08-22         Ava Garcia  Widget B  Widgets         4            25.0       100.0  North
6      1007 2025-08-25        Lucas Davis  Widget C  Widgets         2            30.0        60.0   East
7      1008 2025-08-26   Sophia Rodriguez  Gadget B  Gadgets         6            35.0       210.0   West
8      1009 2025-08-28       Mason Wilson  Widget A  Widgets         3            20.0        60.0  North
9      1010 2025-08-29       Mia Anderson  Gadget C  Gadgets         2            50.0       100.0  South
10     1011 2025-08-30       Ethan Thomas  Widget B  Widgets         8            25.0       200.0   East
11     1012 2025-09-01      Harper Taylor  Gadget A  Gadgets         1            40.0        40.0   West
12     1013 2025-09-02        Logan Moore  Widget C  Widgets         2            30.0        60.0  North
13     1014 2025-09-03  Charlotte Jackson  Gadget B  Gadgets         3            35.0       105.0  South
14     1015 2025-09-05       Elijah White  Widget A  Widgets         2            20.0        40.0   East
16     1017 2025-09-08       James Martin  Widget A  Widgets         5            20.0       100.0  North
17     1018 2025-09-09    Evelyn Thompson  Gadget B  Gadgets         4            35.0       140.0  South
18     1019 2025-09-11    Benjamin Garcia  Widget B  Widgets         7            25.0       175.0   East
19     1020 2025-09-12   Abigail Martinez  Gadget A  Gadgets         3            40.0       120.0   West
20     1021 2025-09-14   Eliana Rodriguez  Widget C  Widgets         2            30.0        60.0  North
21     1022 2025-09-15      Alexander Lee  Gadget B  Gadgets         6            35.0       210.0  South
22     1023 2025-09-16       Emma Johnson  Widget A  Widgets         3            20.0        60.0  North
24     1025 2025-09-19       Olivia Brown  Widget B  Widgets         4            25.0       100.0   East
25     1026 2025-09-21         Noah Jones  Gadget C  Gadgets         5            50.0       250.0   West
26     1027 2025-09-22         Ava Garcia  Widget C  Widgets         2            30.0        60.0  North
27     1028 2025-09-24  Isabella Martinez  Gadget A  Gadgets         3            40.0       120.0  South
28     1029 2025-09-25        Lucas Davis  Widget A  Widgets         1            20.0        20.0   East
29     1030 2025-09-27   Sophia Rodriguez  Gadget B  Gadgets         6            35.0       210.0   West
30     1031 2025-09-28       Mason Wilson  Widget B  Widgets         5            25.0       125.0  North
31     1032 2025-09-30       Mia Anderson  Gadget C  Gadgets         3            50.0       150.0  South
32     1033 2025-10-01       Ethan Thomas  Widget C  Widgets         4            30.0       120.0   East
33     1034 2025-10-03      Harper Taylor  Gadget A  Gadgets         2            40.0        80.0   West
35     1036 2025-10-06  Charlotte Jackson  Gadget B  Gadgets         1            35.0        35.0  South
36     1037 2025-10-08       Elijah White  Widget A  Widgets         3            20.0        60.0   East
37     1038 2025-10-09      Amelia Harris  Gadget C  Gadgets         5            50.0       250.0   West
38     1039 2025-10-11       James Martin  Widget C  Widgets         2            30.0        60.0  North
39     1040 2025-10-12    Evelyn Thompson  Gadget A  Gadgets         3            40.0       120.0  South

In [ ]:
sales['Quantity'] = sales['Quantity'].fillna(0).astype(int)

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
sales['TotalPrice'] = sales['TotalPrice']

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
filtered_orders = sales[(sales['Category'] == 'Gadgets') & (sales['TotalPrice'] > 150)]

In [ ]:
filtered_orders

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
sales_sorted = sales.sort_values(by='TotalPrice', ascending=False)

In [ ]:
sales_sorted

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East

In [ ]:
sales_sorted.head(10)[sales_sorted.head(10)['TotalPrice'] >=150]

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
date_asec = sales.sort_values (by = 'Date', ascending = True)

In [ ]:
date_asec

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
date_asec.tail(5)

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
total_desc= sales.sort_values (by = 'TotalPrice', ascending = False)

In [ ]:
sales

In [ ]:
sales.duplicated().values

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [ ]:
sales.duplicated ()

0     False
1     False
3     False
4     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
35    False
36    False
37    False
38    False
39    False
dtype: bool

In [ ]:
import pandas as pd
sales = pd.read_csv ('sales_data_200.csv')

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.duplicated ().values

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [ ]:
sales.drop_duplicates (inplace = True)

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
# To rename a column, use the .rename() method:
sales.rename(columns={'Customer_Name': 'customer'}, inplace=True)

In [ ]:
sales

,OrderID,Date,customer_name,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.rename (columns = {'customer_name' : 'customer'}, inplace = True)
print('customer')

customer

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.rename (columns = {'UnitPrice' : 'Price_Per_Unit'}, inplace = True)
print('price_per_unit')

price_per_unit

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
import pandas as pd
from google.colab import files
import io

print("Please upload the 'sales_data_200.csv' file.")
uploaded = files.upload()

# Check if the expected file was uploaded and read it
if 'sales_data_200.csv' in uploaded:
    sales = pd.read_csv(io.BytesIO(uploaded['sales_data_200.csv']))
    print("File 'sales_data_200.csv' loaded successfully.")
else:
    raise FileNotFoundError("The file 'sales_data_200.csv' was not uploaded. Please make sure to select the correct file.")

Please upload the 'sales_data_200.csv' file.

Saving sales_data_200.csv to sales_data_200.csv
File 'sales_data_200.csv' loaded successfully.

In [ ]:
sales = pd.read_csv('sales_data_200.csv')
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.rename (columns = {'UnitPrice' : 'Price_Per_Unit', 'CustomerName': 'Customer'}, inplace = True)

In [ ]:
sales

,OrderID,Date,Customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales['Date'] = pd.to_datetime(sales['Date'], format='%d/%m/%Y')
print(sales['Date'].dtype)

datetime64[ns]

In [ ]:
sales

,OrderID,Date,Customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,2025-08-19,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,2025-08-23,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,2025-09-06,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,2025-09-08,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,2025-09-18,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,2025-10-04,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.isnull ()

,OrderID,Date,Customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,True,False,True,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,True,False,True,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,True,False,True,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False

In [ ]:
import pandas as pd
sales = pd.read_csv ('sales_data_200.csv')
sales.dropna(inplace=True)
print (sales.to_string ())

    OrderID        Date       CustomerName   Product Category  Quantity  UnitPrice  TotalPrice Region
0      1001  15/08/2025       Emma Johnson  Widget A  Widgets       3.0       20.0        60.0  North
1      1002  17/08/2025         Liam Smith  Gadget B  Gadgets       2.0       35.0        70.0  South
3      1004  20/08/2025         Noah Jones  Gadget C  Gadgets       5.0       50.0       250.0   West
4      1005  22/08/2025         Ava Garcia  Widget B  Widgets       4.0       25.0       100.0  North
6      1007  25/08/2025        Lucas Davis  Widget C  Widgets       2.0       30.0        60.0   East
7      1008  26/08/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0       35.0       210.0   West
8      1009  28/08/2025       Mason Wilson  Widget A  Widgets       3.0       20.0        60.0  North
9      1010  29/08/2025       Mia Anderson  Gadget C  Gadgets       2.0       50.0       100.0  South
10     1011  30/08/2025       Ethan Thomas  Widget B  Widgets       8.0       25.0       200.0   East
11     1012  01/09/2025      Harper Taylor  Gadget A  Gadgets       1.0       40.0        40.0   West
12     1013  02/09/2025        Logan Moore  Widget C  Widgets       2.0       30.0        60.0  North
13     1014  03/09/2025  Charlotte Jackson  Gadget B  Gadgets       3.0       35.0       105.0  South
14     1015  05/09/2025       Elijah White  Widget A  Widgets       2.0       20.0        40.0   East
16     1017  08/09/2025       James Martin  Widget A  Widgets       5.0       20.0       100.0  North
17     1018  09/09/2025    Evelyn Thompson  Gadget B  Gadgets       4.0       35.0       140.0  South
18     1019  11/09/2025    Benjamin Garcia  Widget B  Widgets       7.0       25.0       175.0   East
19     1020  12/09/2025   Abigail Martinez  Gadget A  Gadgets       3.0       40.0       120.0   West
20     1021  14/09/2025   Eliana Rodriguez  Widget C  Widgets       2.0       30.0        60.0  North
21     1022  15/09/2025      Alexander Lee  Gadget B  Gadgets       6.0       35.0       210.0  South
22     1023  16/09/2025       Emma Johnson  Widget A  Widgets       3.0       20.0        60.0  North
24     1025  19/09/2025       Olivia Brown  Widget B  Widgets       4.0       25.0       100.0   East
25     1026  21/09/2025         Noah Jones  Gadget C  Gadgets       5.0       50.0       250.0   West
26     1027  22/09/2025         Ava Garcia  Widget C  Widgets       2.0       30.0        60.0  North
27     1028  24/09/2025  Isabella Martinez  Gadget A  Gadgets       3.0       40.0       120.0  South
28     1029  25/09/2025        Lucas Davis  Widget A  Widgets       1.0       20.0        20.0   East
29     1030  27/09/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0       35.0       210.0   West
30     1031  28/09/2025       Mason Wilson  Widget B  Widgets       5.0       25.0       125.0  North
31     1032  30/09/2025       Mia Anderson  Gadget C  Gadgets       3.0       50.0       150.0  South
32     1033  01/10/2025       Ethan Thomas  Widget C  Widgets       4.0       30.0       120.0   East
33     1034  03/10/2025      Harper Taylor  Gadget A  Gadgets       2.0       40.0        80.0   West
35     1036  06/10/2025  Charlotte Jackson  Gadget B  Gadgets       1.0       35.0        35.0  South
36     1037  08/10/2025       Elijah White  Widget A  Widgets       3.0       20.0        60.0   East
37     1038  09/10/2025      Amelia Harris  Gadget C  Gadgets       5.0       50.0       250.0   West
38     1039  11/10/2025       James Martin  Widget C  Widgets       2.0       30.0        60.0  North
39     1040  12/10/2025    Evelyn Thompson  Gadget A  Gadgets       3.0       40.0       120.0  South

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales_sorted = sales.sort_values (by = 'TotalPrice', ascending = False)

In [ ]:
sales_sorted

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East

In [ ]:
sales.loc[:, ['TotalPrice', 'Region']]

    TotalPrice Region
0         60.0  North
1         70.0  South
3        250.0   West
4        100.0  North
6         60.0   East
7        210.0   West
8         60.0  North
9        100.0  South
10       200.0   East
11        40.0   West
12        60.0  North
13       105.0  South
14        40.0   East
16       100.0  North
17       140.0  South
18       175.0   East
19       120.0   West
20        60.0  North
21       210.0  South
22        60.0  North
24       100.0   East
25       250.0   West
26        60.0  North
27       120.0  South
28        20.0   East
29       210.0   West
30       125.0  North
31       150.0  South
32       120.0   East
33        80.0   West
35        35.0  South
36        60.0   East
37       250.0   West
38        60.0  North
39       120.0  South

In [ ]:
sales.loc[:, ['TotalPrice','Product']]

    TotalPrice   Product
0         60.0  Widget A
1         70.0  Gadget B
3        250.0  Gadget C
4        100.0  Widget B
6         60.0  Widget C
7        210.0  Gadget B
8         60.0  Widget A
9        100.0  Gadget C
10       200.0  Widget B
11        40.0  Gadget A
12        60.0  Widget C
13       105.0  Gadget B
14        40.0  Widget A
16       100.0  Widget A
17       140.0  Gadget B
18       175.0  Widget B
19       120.0  Gadget A
20        60.0  Widget C
21       210.0  Gadget B
22        60.0  Widget A
24       100.0  Widget B
25       250.0  Gadget C
26        60.0  Widget C
27       120.0  Gadget A
28        20.0  Widget A
29       210.0  Gadget B
30       125.0  Widget B
31       150.0  Gadget C
32       120.0  Widget C
33        80.0  Gadget A
35        35.0  Gadget B
36        60.0  Widget A
37       250.0  Gadget C
38        60.0  Widget C
39       120.0  Gadget A

In [ ]:
total_price_by_product = sales.groupby('Product')['TotalPrice'].sum()

In [ ]:
total_price_by_product

Product
Gadget A     480.0
Gadget B     980.0
Gadget C    1000.0
Widget A     400.0
Widget B     700.0
Widget C     420.0
Name: TotalPrice, dtype: float64

In [ ]:
total_price_by_product.mean()

np.float64(663.3333333333334)

In [ ]:
total_price_by_product

Product
Gadget A     480.0
Gadget B     980.0
Gadget C    1000.0
Widget A     400.0
Widget B     700.0
Widget C     420.0
Name: TotalPrice, dtype: float64

In [ ]:
total_price_by_product.groupby ()

In [ ]:
total_price_by_product = sales.groupby('Product')['TotalPrice'].mean()

In [ ]:
total_price_by_product

Product
Gadget A     96.000000
Gadget B    140.000000
Gadget C    200.000000
Widget A     57.142857
Widget B    140.000000
Widget C     70.000000
Name: TotalPrice, dtype: float64

In [ ]:
round (total_price_by_product[0].mean(), 2)

np.float64(117.19)

In [ ]:
total_price_by_product

(Product
 Gadget A     96.000000
 Gadget B    140.000000
 Gadget C    200.000000
 Widget A     57.142857
 Widget B    140.000000
 Widget C     70.000000
 Name: TotalPrice, dtype: float64,
 2)

In [ ]:
sales

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sale = sales['CustomerName'].value_counts()
sales.rename(columns={'CustomerName': 'Customer'}, inplace=True)
sale = sales['Customer'].value_counts()

In [ ]:
sales

,OrderID,Date,Customer,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
Customer_sales = sales['Category'].value_counts ()

In [ ]:
Customer_sales

Category
Widgets    18
Gadgets    17
Name: count, dtype: int64

In [ ]:
# To count orders by customer, you can use value_counts() on the 'Customer' column:
customer_order_counts = sales['Customer'].value_counts()
print(customer_order_counts)

Customer
Emma Johnson         2
Noah Jones           2
Lucas Davis          2
Ava Garcia           2
Sophia Rodriguez     2
Mason Wilson         2
Charlotte Jackson    2
Mia Anderson         2
Ethan Thomas         2
Harper Taylor        2
James Martin         2
Elijah White         2
Evelyn Thompson      2
Liam Smith           1
Logan Moore          1
Benjamin Garcia      1
Abigail Martinez     1
Eliana Rodriguez     1
Alexander Lee        1
Olivia Brown         1
Isabella Martinez    1
Amelia Harris        1
Name: count, dtype: int64

In [ ]:
customer_order_counts = sales['Customer'].value_counts()

In [ ]:
customer_order_counts

Customer
Emma Johnson         2
Noah Jones           2
Lucas Davis          2
Ava Garcia           2
Sophia Rodriguez     2
Mason Wilson         2
Charlotte Jackson    2
Mia Anderson         2
Ethan Thomas         2
Harper Taylor        2
James Martin         2
Elijah White         2
Evelyn Thompson      2
Liam Smith           1
Logan Moore          1
Benjamin Garcia      1
Abigail Martinez     1
Eliana Rodriguez     1
Alexander Lee        1
Olivia Brown         1
Isabella Martinez    1
Amelia Harris        1
Name: count, dtype: int64

In [ ]:
customer_order_counts

Customer
Emma Johnson         2
Noah Jones           2
Lucas Davis          2
Ava Garcia           2
Sophia Rodriguez     2
Mason Wilson         2
Charlotte Jackson    2
Mia Anderson         2
Ethan Thomas         2
Harper Taylor        2
James Martin         2
Elijah White         2
Evelyn Thompson      2
Liam Smith           1
Logan Moore          1
Benjamin Garcia      1
Abigail Martinez     1
Eliana Rodriguez     1
Alexander Lee        1
Olivia Brown         1
Isabella Martinez    1
Amelia Harris        1
Name: count, dtype: int64

In [ ]:
total_price_by_product = sales.groupby('Product')['TotalPrice'].mean(), round (2)

In [ ]:
total_price_by_product

(Product
 Gadget A     96.000000
 Gadget B    140.000000
 Gadget C    200.000000
 Widget A     57.142857
 Widget B    140.000000
 Widget C     70.000000
 Name: TotalPrice, dtype: float64,
 2)

In [ ]:
total_price_by_product

(Product
 Gadget A     96.000000
 Gadget B    140.000000
 Gadget C    200.000000
 Widget A     57.142857
 Widget B    140.000000
 Widget C     70.000000
 Name: TotalPrice, dtype: float64,
 2)

In [ ]:
filtered_sales_by_region = sales[sales['Region'].isin(['North', 'South', 'West', 'East'])]
print(filtered_sales_by_region)

    OrderID        Date       CustomerName   Product Category  Quantity  \
0      1001  15/08/2025       Emma Johnson  Widget A  Widgets       3.0
1      1002  17/08/2025         Liam Smith  Gadget B  Gadgets       2.0
3      1004  20/08/2025         Noah Jones  Gadget C  Gadgets       5.0
4      1005  22/08/2025         Ava Garcia  Widget B  Widgets       4.0
6      1007  25/08/2025        Lucas Davis  Widget C  Widgets       2.0
7      1008  26/08/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
8      1009  28/08/2025       Mason Wilson  Widget A  Widgets       3.0
9      1010  29/08/2025       Mia Anderson  Gadget C  Gadgets       2.0
10     1011  30/08/2025       Ethan Thomas  Widget B  Widgets       8.0
11     1012  01/09/2025      Harper Taylor  Gadget A  Gadgets       1.0
12     1013  02/09/2025        Logan Moore  Widget C  Widgets       2.0
13     1014  03/09/2025  Charlotte Jackson  Gadget B  Gadgets       3.0
14     1015  05/09/2025       Elijah White  Widget A  Widgets       2.0
16     1017  08/09/2025       James Martin  Widget A  Widgets       5.0
17     1018  09/09/2025    Evelyn Thompson  Gadget B  Gadgets       4.0
18     1019  11/09/2025    Benjamin Garcia  Widget B  Widgets       7.0
19     1020  12/09/2025   Abigail Martinez  Gadget A  Gadgets       3.0
20     1021  14/09/2025   Eliana Rodriguez  Widget C  Widgets       2.0
21     1022  15/09/2025      Alexander Lee  Gadget B  Gadgets       6.0
22     1023  16/09/2025       Emma Johnson  Widget A  Widgets       3.0
24     1025  19/09/2025       Olivia Brown  Widget B  Widgets       4.0
25     1026  21/09/2025         Noah Jones  Gadget C  Gadgets       5.0
26     1027  22/09/2025         Ava Garcia  Widget C  Widgets       2.0
27     1028  24/09/2025  Isabella Martinez  Gadget A  Gadgets       3.0
28     1029  25/09/2025        Lucas Davis  Widget A  Widgets       1.0
29     1030  27/09/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
30     1031  28/09/2025       Mason Wilson  Widget B  Widgets       5.0
31     1032  30/09/2025       Mia Anderson  Gadget C  Gadgets       3.0
32     1033  01/10/2025       Ethan Thomas  Widget C  Widgets       4.0
33     1034  03/10/2025      Harper Taylor  Gadget A  Gadgets       2.0
35     1036  06/10/2025  Charlotte Jackson  Gadget B  Gadgets       1.0
36     1037  08/10/2025       Elijah White  Widget A  Widgets       3.0
37     1038  09/10/2025      Amelia Harris  Gadget C  Gadgets       5.0
38     1039  11/10/2025       James Martin  Widget C  Widgets       2.0
39     1040  12/10/2025    Evelyn Thompson  Gadget A  Gadgets       3.0

    UnitPrice  TotalPrice Region
0        20.0        60.0  North
1        35.0        70.0  South
3        50.0       250.0   West
4        25.0       100.0  North
6        30.0        60.0   East
7        35.0       210.0   West
8        20.0        60.0  North
9        50.0       100.0  South
10       25.0       200.0   East
11       40.0        40.0   West
12       30.0        60.0  North
13       35.0       105.0  South
14       20.0        40.0   East
16       20.0       100.0  North
17       35.0       140.0  South
18       25.0       175.0   East
19       40.0       120.0   West
20       30.0        60.0  North
21       35.0       210.0  South
22       20.0        60.0  North
24       25.0       100.0   East
25       50.0       250.0   West
26       30.0        60.0  North
27       40.0       120.0  South
28       20.0        20.0   East
29       35.0       210.0   West
30       25.0       125.0  North
31       50.0       150.0  South
32       30.0       120.0   East
33       40.0        80.0   West
35       35.0        35.0  South
36       20.0        60.0   East
37       50.0       250.0   West
38       30.0        60.0  North
39       40.0       120.0  South

In [ ]:
total_price_by_region = filtered_sales_by_region.groupby('Region')['TotalPrice'].sum()

In [ ]:
total_price_by_region

Region
East      775.0
North     745.0
South    1050.0
West     1410.0
Name: TotalPrice, dtype: float64

In [ ]:
sales['Date'] = pd.to_datetime(sales['Date'], format='%d/%m/%Y')
print(sales['Date'].dtype)

datetime64[ns]

In [ ]:
sales

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,2025-08-19,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,2025-08-23,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,2025-09-06,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,2025-09-08,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,2025-09-18,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,2025-10-04,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
sales.isnull ()

,OrderID,Date,customer,Product,Category,Quantity,Price_Per_Unit,TotalPrice,Region
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,True,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False